<?xml version="1.0"?>
<config>
    <modules>
        <Arrow_EnableCmsBlocks>
            <version>0.0.0.1</version>
        </Arrow_EnableCmsBlocks>
    </modules>
    <global>
        <helpers>
            <arrow_enablecmsblocks>
                <class>Arrow_EnableCmsBlocks_Helper</class>
            </arrow_enablecmsblocks>
        </helpers>
        <models>
            <arrow_enablecmsblocks>
                <class>Arrow_EnableCmsBlocks_Model</class>
                <resourceModel>arrow_enablecmsblocks_resource</resourceModel>
            </arrow_enablecmsblocks>
            <arrow_enablecmsblocks_resource>
                <class>Arrow_EnableCmsBlocks_Model_Resource</class>
            </arrow_enablecmsblocks_resource>
        </models>
        <resources>
            <arrow_enablecmsblocks_setup>
                <setup>
                    <module>Arrow_EnableCmsBlocks</module>
                    <class>Arrow_EnableCmsBlocks_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </arrow_enablecmsblocks_setup>
            <arrow_enablecmsblock_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </arrow_enablecmsblock_write>
            <arrow_enablecmsblock_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </arrow_enablecmsblock_read>
        </resources>
    </global>
</config>